<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Etiquetas_AGV_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.254;user id=sa;password=$3rv3r5q10621%;initial catalog=Etiquetas_Maquila_GE;Persist Security Info=true"/>
        <add name="Etiquetas_AGV_Connection2" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.254;user id=sa;password=$3rv3r5q10621%;initial catalog=Etiquetas_Maquila_GE;Persist Security Info=true"/>
        <add name="localhost_Etiquetas_Produccion_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.254;user id=sa;password=$3rv3r5q10621%;initial catalog=Etiquetas_Maquila_GE;Persist Security Info=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
