<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Etiquetas_AGV_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.127;user id=;password=;initial catalog=Etiquetas_AGV;Persist Security Info=true" />
        <add name="Etiquetas_AGV_Connection2" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.127;user id=sa;password=inventumc762$;initial catalog=Etiquetas_AGV;Persist Security Info=true" />
        <add name="localhost_Etiquetas_Produccion_Connection" connectionString="XpoProvider=MSSqlServer;data source=192.168.3.254;user id=sa;password=inventumc762$;initial catalog=Etiquetas_Produccion;Persist Security Info=true" />
    </connectionStrings>
</configuration>